# Godot 4+ specific ignores
.godot/
/android/

*uid
.import/

#Windows junk files
Thumbs.db
desktop.ini

#Game Saves
save_data/
*.json_save

#Build and Export folders
/build/
/export/

#Sensitive data
.env